USE [master]
GO
/****** Object:  Database [MoviesDW]    Script Date: 25/12/2025 13:44:40 ******/
CREATE DATABASE [MoviesDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoviesDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoviesDW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoviesDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoviesDW_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoviesDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoviesDW]
GO
/****** Object:  Schema [dim]    Script Date: 25/12/2025 13:44:40 ******/
CREATE SCHEMA [dim]
GO
/****** Object:  Schema [dw]    Script Date: 25/12/2025 13:44:40 ******/
CREATE SCHEMA [dw]
GO
/****** Object:  Schema [fact]    Script Date: 25/12/2025 13:44:40 ******/
CREATE SCHEMA [fact]
GO
/****** Object:  Schema [staging]    Script Date: 25/12/2025 13:44:40 ******/
CREATE SCHEMA [staging]
GO
/****** Object:  Table [dim].[dim_Certificate]    Script Date: 25/12/2025 13:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[dim_Certificate](
	[CertificateKey] [int] IDENTITY(1,1) NOT NULL,
	[Certificate] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Certificate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dim].[dim_Genre]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[dim_Genre](
	[GenreKey] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dim].[dim_Director]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[dim_Director](
	[DirectorKey] [int] IDENTITY(1,1) NOT NULL,
	[DirectorID] [varchar](50) NOT NULL,
	[DirectorName] [varchar](200) NOT NULL,
	[BirthYear] [int] NULL,
	[Bio] [nvarchar](max) NULL,
	[ProfileImage] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DirectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dim].[dim_Writer]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[dim_Writer](
	[WriterKey] [int] IDENTITY(1,1) NOT NULL,
	[WriterID] [varchar](50) NOT NULL,
	[WriterName] [varchar](200) NOT NULL,
	[BirthYear] [int] NULL,
	[Bio] [nvarchar](max) NULL,
	[ProfileImage] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WriterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[WriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dim].[dim_Movie]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[dim_Movie](
	[MovieKey] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [varchar](50) NOT NULL,
	[MovieName] [varchar](500) NOT NULL,
	[Year] [int] NOT NULL,
	[Duration] [int] NULL,
	[IMDBRating] [decimal](3, 1) NULL,
	[IMDBVotes] [int] NULL,
	[ImageLink] [varchar](1000) NULL,
	[CertificateKey] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[fact_MovieCast]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[fact_MovieCast](
	[MovieCastKey] [int] IDENTITY(1,1) NOT NULL,
	[MovieKey] [int] NOT NULL,
	[ActorKey] [int] NOT NULL,
	[CastOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieCastKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MovieCast] UNIQUE NONCLUSTERED 
(
	[MovieKey] ASC,
	[ActorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[fact_MovieDirector]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[fact_MovieDirector](
	[MovieDirectorKey] [int] IDENTITY(1,1) NOT NULL,
	[MovieKey] [int] NOT NULL,
	[DirectorKey] [int] NOT NULL,
	[DirectorOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieDirectorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MovieDirector] UNIQUE NONCLUSTERED 
(
	[MovieKey] ASC,
	[DirectorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[fact_MovieWriter]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[fact_MovieWriter](
	[MovieWriterKey] [int] IDENTITY(1,1) NOT NULL,
	[MovieKey] [int] NOT NULL,
	[WriterKey] [int] NOT NULL,
	[WriterOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieWriterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MovieWriter] UNIQUE NONCLUSTERED 
(
	[MovieKey] ASC,
	[WriterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[fact_MovieGenre]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[fact_MovieGenre](
	[MovieGenreKey] [int] IDENTITY(1,1) NOT NULL,
	[MovieKey] [int] NOT NULL,
	[GenreKey] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieGenreKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MovieGenre] UNIQUE NONCLUSTERED 
(
	[MovieKey] ASC,
	[GenreKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MovieAnalysis]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- VIEWS FOR REPORTING
-- =============================================

CREATE VIEW [dbo].[vw_MovieAnalysis] AS
SELECT 
    m.MovieID,
    m.MovieName,
    m.Year,
    m.Duration,
    m.IMDBRating,
    m.IMDBVotes,
    c.Certificate,
    STRING_AGG(g.GenreName, ', ') AS Genres,
    STRING_AGG(d.DirectorName, ', ') AS Directors,
    STRING_AGG(w.WriterName, ', ') AS Writers,
    COUNT(DISTINCT fmc.ActorKey) AS NumberOfActors
FROM dim.dim_Movie m
LEFT JOIN dim.dim_Certificate c ON m.CertificateKey = c.CertificateKey
LEFT JOIN fact.fact_MovieGenre fmg ON m.MovieKey = fmg.MovieKey
LEFT JOIN dim.dim_Genre g ON fmg.GenreKey = g.GenreKey
LEFT JOIN fact.fact_MovieDirector fmd ON m.MovieKey = fmd.MovieKey
LEFT JOIN dim.dim_Director d ON fmd.DirectorKey = d.DirectorKey
LEFT JOIN fact.fact_MovieWriter fmw ON m.MovieKey = fmw.MovieKey
LEFT JOIN dim.dim_Writer w ON fmw.WriterKey = w.WriterKey
LEFT JOIN fact.fact_MovieCast fmc ON m.MovieKey = fmc.MovieKey
GROUP BY 
    m.MovieID, m.MovieName, m.Year, m.Duration, 
    m.IMDBRating, m.IMDBVotes, c.Certificate;
GO
/****** Object:  Table [dim].[dim_Actor]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[dim_Actor](
	[ActorKey] [int] IDENTITY(1,1) NOT NULL,
	[ActorID] [varchar](50) NOT NULL,
	[ActorName] [varchar](200) NOT NULL,
	[BirthYear] [int] NULL,
	[Bio] [nvarchar](max) NULL,
	[ProfileImage] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dim].[dim_Date]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[dim_Date](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[MonthName] [varchar](20) NOT NULL,
	[Day] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[DayName] [varchar](20) NOT NULL,
	[IsWeekend] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[ActorStats]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[ActorStats](
	[ActorStatsKey] [int] IDENTITY(1,1) NOT NULL,
	[ActorKey] [int] NOT NULL,
	[TotalMovies] [int] NOT NULL,
	[TotalIMDBVotes] [bigint] NOT NULL,
	[AverageIMDBRating] [decimal](3, 1) NOT NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorStatsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[DirectorStats]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[DirectorStats](
	[DirectorStatsKey] [int] IDENTITY(1,1) NOT NULL,
	[DirectorKey] [int] NOT NULL,
	[TotalMovies] [int] NOT NULL,
	[TotalIMDBVotes] [bigint] NOT NULL,
	[AverageIMDBRating] [decimal](3, 1) NOT NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectorStatsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[fact_Movie]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[fact_Movie](
	[FactMovieKey] [int] IDENTITY(1,1) NOT NULL,
	[MovieKey] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[Rank] [int] NULL,
	[IMDBRating] [decimal](3, 1) NULL,
	[IMDBVotes] [int] NULL,
	[Duration] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactMovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[stg_cast]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[stg_cast](
	[ActorID] [nvarchar](50) NULL,
	[ActorName] [nvarchar](200) NULL,
	[LoadDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[stg_directors]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[stg_directors](
	[DirectorID] [nvarchar](50) NULL,
	[DirectorName] [nvarchar](200) NULL,
	[LoadDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[stg_genres]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[stg_genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[stg_movies]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[stg_movies](
	[rank] [int] NULL,
	[id] [nvarchar](50) NULL,
	[name] [nvarchar](500) NULL,
	[year] [int] NULL,
	[imbd_votes] [int] NULL,
	[imdb_rating] [float] NULL,
	[certificate] [nvarchar](50) NULL,
	[duration] [float] NULL,
	[genre] [nvarchar](200) NULL,
	[cast_id] [nvarchar](max) NULL,
	[director_id] [nvarchar](100) NULL,
	[writter_id] [nvarchar](max) NULL,
	[img_link] [varchar](1000) NULL,
	[LoadDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [staging].[stg_writers]    Script Date: 25/12/2025 13:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[stg_writers](
	[WriterID] [nvarchar](50) NULL,
	[WriterName] [nvarchar](200) NULL,
	[LoadDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActorStats_ActorKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_ActorStats_ActorKey] ON [fact].[ActorStats]
(
	[ActorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActorStats_AverageRating]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_ActorStats_AverageRating] ON [fact].[ActorStats]
(
	[AverageIMDBRating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActorStats_TotalMovies]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_ActorStats_TotalMovies] ON [fact].[ActorStats]
(
	[TotalMovies] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DirectorStats_AverageRating]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_DirectorStats_AverageRating] ON [fact].[DirectorStats]
(
	[AverageIMDBRating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DirectorStats_DirectorKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_DirectorStats_DirectorKey] ON [fact].[DirectorStats]
(
	[DirectorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DirectorStats_TotalMovies]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_DirectorStats_TotalMovies] ON [fact].[DirectorStats]
(
	[TotalMovies] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactMovie_DateKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_FactMovie_DateKey] ON [fact].[fact_Movie]
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactMovie_MovieKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_FactMovie_MovieKey] ON [fact].[fact_Movie]
(
	[MovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieCast_ActorKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieCast_ActorKey] ON [fact].[fact_MovieCast]
(
	[ActorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieCast_MovieKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieCast_MovieKey] ON [fact].[fact_MovieCast]
(
	[MovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieDirector_DirectorKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieDirector_DirectorKey] ON [fact].[fact_MovieDirector]
(
	[DirectorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieDirector_MovieKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieDirector_MovieKey] ON [fact].[fact_MovieDirector]
(
	[MovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieGenre_GenreKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieGenre_GenreKey] ON [fact].[fact_MovieGenre]
(
	[GenreKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieGenre_MovieKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieGenre_MovieKey] ON [fact].[fact_MovieGenre]
(
	[MovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieWriter_MovieKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieWriter_MovieKey] ON [fact].[fact_MovieWriter]
(
	[MovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieWriter_WriterKey]    Script Date: 25/12/2025 13:44:41 ******/
CREATE NONCLUSTERED INDEX [IX_MovieWriter_WriterKey] ON [fact].[fact_MovieWriter]
(
	[WriterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dim].[dim_Actor] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dim].[dim_Actor] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dim].[dim_Certificate] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dim].[dim_Director] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dim].[dim_Director] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dim].[dim_Genre] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dim].[dim_Movie] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dim].[dim_Movie] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dim].[dim_Writer] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dim].[dim_Writer] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [fact].[ActorStats] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [fact].[DirectorStats] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [fact].[fact_Movie] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [fact].[fact_MovieCast] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [fact].[fact_MovieDirector] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [fact].[fact_MovieGenre] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [fact].[fact_MovieWriter] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [staging].[stg_cast] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [staging].[stg_directors] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [staging].[stg_genres] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [staging].[stg_movies] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [staging].[stg_writers] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dim].[dim_Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Certificate] FOREIGN KEY([CertificateKey])
REFERENCES [dim].[dim_Certificate] ([CertificateKey])
GO
ALTER TABLE [dim].[dim_Movie] CHECK CONSTRAINT [FK_Movie_Certificate]
GO
ALTER TABLE [dim].[dim_Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Date] FOREIGN KEY([DateKey])
REFERENCES [dim].[dim_Date] ([DateKey])
GO
ALTER TABLE [dim].[dim_Movie] CHECK CONSTRAINT [FK_Movie_Date]
GO
ALTER TABLE [fact].[ActorStats]  WITH CHECK ADD  CONSTRAINT [FK_ActorStats_Actor] FOREIGN KEY([ActorKey])
REFERENCES [dim].[dim_Actor] ([ActorKey])
GO
ALTER TABLE [fact].[ActorStats] CHECK CONSTRAINT [FK_ActorStats_Actor]
GO
ALTER TABLE [fact].[DirectorStats]  WITH CHECK ADD  CONSTRAINT [FK_DirectorStats_Director] FOREIGN KEY([DirectorKey])
REFERENCES [dim].[dim_Director] ([DirectorKey])
GO
ALTER TABLE [fact].[DirectorStats] CHECK CONSTRAINT [FK_DirectorStats_Director]
GO
ALTER TABLE [fact].[fact_Movie]  WITH CHECK ADD  CONSTRAINT [FK_FactMovie_Date] FOREIGN KEY([DateKey])
REFERENCES [dim].[dim_Date] ([DateKey])
GO
ALTER TABLE [fact].[fact_Movie] CHECK CONSTRAINT [FK_FactMovie_Date]
GO
ALTER TABLE [fact].[fact_Movie]  WITH CHECK ADD  CONSTRAINT [FK_FactMovie_Movie] FOREIGN KEY([MovieKey])
REFERENCES [dim].[dim_Movie] ([MovieKey])
GO
ALTER TABLE [fact].[fact_Movie] CHECK CONSTRAINT [FK_FactMovie_Movie]
GO
ALTER TABLE [fact].[fact_MovieCast]  WITH CHECK ADD  CONSTRAINT [FK_MovieCast_Actor] FOREIGN KEY([ActorKey])
REFERENCES [dim].[dim_Actor] ([ActorKey])
GO
ALTER TABLE [fact].[fact_MovieCast] CHECK CONSTRAINT [FK_MovieCast_Actor]
GO
ALTER TABLE [fact].[fact_MovieCast]  WITH CHECK ADD  CONSTRAINT [FK_MovieCast_Movie] FOREIGN KEY([MovieKey])
REFERENCES [dim].[dim_Movie] ([MovieKey])
GO
ALTER TABLE [fact].[fact_MovieCast] CHECK CONSTRAINT [FK_MovieCast_Movie]
GO
ALTER TABLE [fact].[fact_MovieDirector]  WITH CHECK ADD  CONSTRAINT [FK_MovieDirector_Director] FOREIGN KEY([DirectorKey])
REFERENCES [dim].[dim_Director] ([DirectorKey])
GO
ALTER TABLE [fact].[fact_MovieDirector] CHECK CONSTRAINT [FK_MovieDirector_Director]
GO
ALTER TABLE [fact].[fact_MovieDirector]  WITH CHECK ADD  CONSTRAINT [FK_MovieDirector_Movie] FOREIGN KEY([MovieKey])
REFERENCES [dim].[dim_Movie] ([MovieKey])
GO
ALTER TABLE [fact].[fact_MovieDirector] CHECK CONSTRAINT [FK_MovieDirector_Movie]
GO
ALTER TABLE [fact].[fact_MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Genre] FOREIGN KEY([GenreKey])
REFERENCES [dim].[dim_Genre] ([GenreKey])
GO
ALTER TABLE [fact].[fact_MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Genre]
GO
ALTER TABLE [fact].[fact_MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Movie] FOREIGN KEY([MovieKey])
REFERENCES [dim].[dim_Movie] ([MovieKey])
GO
ALTER TABLE [fact].[fact_MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Movie]
GO
ALTER TABLE [fact].[fact_MovieWriter]  WITH CHECK ADD  CONSTRAINT [FK_MovieWriter_Movie] FOREIGN KEY([MovieKey])
REFERENCES [dim].[dim_Movie] ([MovieKey])
GO
ALTER TABLE [fact].[fact_MovieWriter] CHECK CONSTRAINT [FK_MovieWriter_Movie]
GO
ALTER TABLE [fact].[fact_MovieWriter]  WITH CHECK ADD  CONSTRAINT [FK_MovieWriter_Writer] FOREIGN KEY([WriterKey])
REFERENCES [dim].[dim_Writer] ([WriterKey])
GO
ALTER TABLE [fact].[fact_MovieWriter] CHECK CONSTRAINT [FK_MovieWriter_Writer]
GO
USE [master]
GO
